apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: distributedregistry.azurecr.io/frontend:09cd8aa48421c4d274a049be4c01c3aec0be7334
        ports:
        - containerPort: 3000
        env:
        - name: REACT_APP_API_URL
          value: "/" # Relative path because Nginx handles routing
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
spec:
  selector:
    app: frontend
  ports:
  - port: 3000
    targetPort: 3000
