apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: distributedregistry.azurecr.io/nginx:7247673026869ae7450ccf3276fa7fe36843d8ee
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: nginx-public
spec:
  type: LoadBalancer # This requests the Public IP from Azure
  selector:
    app: nginx
  ports:
  - port: 80
    targetPort: 80